# Dependency directory
node_modules/

# API keys and secrets
.env

# Compiled Typescript
dist

# Utility files
hsl_stations.csv
hsl_journeys.csv
src/training_data.jsonl
queries.md
images

# Playground/testing files
src/test.js
